@path: '../img';
@fonf: 'Roboto', sans-serif;
@text-color: #8A796E;
@main-color: #000000;
@l-h: 1em;
@l-s: 0em;
@f-s-l: 1rem;
@f-s-sm: 0.875rem;
@tal: left;

.big-cont-flex(@j: 'flex-start'){
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
    display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
    flex-flow: row wrap; 
        -webkit-box-pack: @j;
        -webkit-justify-content: @j;
        -ms-flex-pack: @j;
    justify-content: @j;
}

.box-flex(@w: 100%, @j: center){
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
    display: flex;
    width: @w;
        -webkit-box-pack: @j;
        -webkit-justify-content: @j;
        -ms-flex-pack: @j;
    justify-content: @j;
}

.box-inl-flex(@w: 100%, @j: center){
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
    display: inline-flex;
    width: @w;
        -webkit-box-pack: @j;
        -webkit-justify-content: @j;
        -ms-flex-pack: @j;
    justify-content: @j;
}


.text (@m:0, @fon-s: @f-s-sm, @c: @text-color, @lih: @l-h, @fw: normal, @fl: left){
    float: @fl;
    padding: 0;
    margin: @m;
    font-family:  @fonf;
    font-size: @fon-s;
    text-align: @tal;
    font-weight: @fw;
    line-height: @lih;
    letter-spacing: @l-s;
    color: @c;
    text-decoration: none;
}

.line(@c:@main-color, @h: 0.0625rem){

    &:after {
        background-color: @c;
        display: block;
        margin: 0.1875rem auto;
        content: "";
        height: @h;
        width: 0%;
        -webkit-transition: width .3s ease-in-out;
        -moz--transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
        }
        &:hover:after,
        &:focus:after {
            width: 80%;
        }
}