
@path: '../img';
@fonf: 'Roboto', sans-serif;
@text-color: #8A796E;
@main-color: #000000;
@l-h: 1em;
@l-s: 0em;
@f-s-l: 16px;
@f-s-sm: 14px;
@tal: left;


.text (@m:0, @fon-s: @f-s-sm, @c: @text-color, @lih: @l-h, @fw: normal){
	float: left;
    padding: 0;
    margin: @m;
    font-family:  @fonf;
    font-size: @fon-s;
    text-align: @tal;
    font-weight: @fw;
    line-height: @lih;
    letter-spacing: @l-s;
    color: @c;
    text-decoration: none;
}

.line(@c:@main-color, @h: 1px){

    &:after {
        background-color: @c;
        display: block;
        margin: 3px auto;
        content: "";
        height: @h;
        width: 0%;
        -webkit-transition: width .3s ease-in-out;
        -moz--transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
        }
        &:hover:after,
        &:focus:after {
            width: 80%;
        }
}