@import (less) 'node_modules/normalize.css/normalize.css';
@import (less) './_media';
@import (less) './_general';

body {
    padding: 0px;
    margin: 0px;
    color: @text-color;
    font-family: @fonf;
    background: url('@{path}/background.jpg') no-repeat left top;
    background-size: 644px;
    // Исправить р-р фона в зависимости от разрешения
}
.container{
    width: 1170px;
    margin: 0px auto;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

header{
    padding: 20px 0px 0px 0px;
}

.header_menu{
    float: left;
    width: 29px;
    height: 29px;
}

.header_icon{
    float: left;
    margin-right: 6px;
}

.header_menu-text{
   .text(@m: 10px 0px 0px 0px, @c: @main-color);
}   

.header_search{
    float: left;
    margin-left: 41px;
    width: 96px;
    height: 29px;
}

.header_logo{
    float: left;
    margin: 0px 258px 0px 359px;
}

.header_account{
    float: left;
    width: 131px;
    height: 29px;
    margin-right: 39px;
}

.header_bag{
    float: right;
    width: 96px;
    height: 29px;
}

.product{
    padding: 80px 0px 50px 0px;
    background: url('@{path}/STYLE.png') no-repeat right bottom;
}

.product_photo{
    float: left;
    margin: 0px 33px 0px 59px;
}

.breadcrumbs{
    float: left;
    margin: 10px 0px 60px 0px;
}

.breadcrumbs_menu{
    padding: 0;
    margin: 0;
    display: block;
}

.breadcrumbs_menu li{
    float: left;
    margin-right: 45px;
    display: block;
}

.breadcrumbs_menu_item{
    .text();
}

h1{
    .text(@m: 0px 0px 28px 0px,@fon-s: 54px, @c: @main-color, @fw: bold);
}

p{
    .text(@m: 0px 0px 40px 0px, @fon-s: @f-s-l, @lih: 1.5em);
}

.colours{
    float: left;
    width: 226px;
    margin: 0px 0px 30px 0px;
}

h3{
    .text(@m: 0px 29px 0px 0px, @fon-s: 18px, @lih: 1.5em, @c: @main-color);
}

.colours-range{
    padding: 0;
    margin: 0;
    display: block;
}

.colours-range li{
    float: left;
    display: block;
    margin-right: 31px;
    
    &:last-child{
        margin-right: 0px;
    }
}

.colours-range_icon{
    width: 22px;
    height: 22px;
    display: block;
    float: left;
}

.sizes{
    float: left;
    width: 50%;
    margin: 0px 0px 49px 0px;
}

.sizes-range{
    padding: 0;
    margin: 0;
    display: block;
}

.sizes-range li{
    float: left;
    display: block;
    margin-right: 34px;
    
    &:last-child{
        margin-right: 0px;
    }
}

.sizes-range_icon{
    .text(@m: 5px 0px 0px 0px, @fon-s: 18px, @fw: bold);
}

.price{
    .text(@m: 0px 0px 60px 0px, @fon-s: 36px, @c: #6D5F56);
    width: 50%;
}

.button{
    display: block;
    padding: 10px 0px;
    float: left;
    border: 1px solid @main-color;
    width: 303px;
    // height: 56px;
    text-align: center;
    margin: 0px 0px 59px 120px;
}

.button_text{
    padding: 0;
    margin: 0;
    font-family: @fonf;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.5em;
    letter-spacing: @l-s;
    color: @main-color;
    text-decoration: none;
}