@import (less) 'node_modules/normalize.css/normalize.css';
@import (less) './_media';
@import (less) './_general';

body {
    padding: 0px;
    margin: 0px;
    color: @text-color;
    font-family: @fonf;

    @media @desktop {
    background: url('@{path}/background.jpg') no-repeat left top;
    background-size: 40% 100%;
    }
}
.container{
    width: 100%;

    @media @large{
    width: 1170px;
    margin: 0px auto;
    }
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

header{
    padding: 3% 3% 3% 3%;
    // padding: 20px 0px 0px 0px;
    margin: 0px auto;
    display: flex;
    flex-flow: row wrap;               //блоки переносятся
    justify-content: flex-start;
    align-content: space-between;
    height: auto;
    background-color: red;
}

.header_menu{
    // float: left;
    display: inline-flex;
    justify-content: center;
    // width: 30%;
    // width: 29px;
    // height: 29px;
}

.header_icon{
    float: left;
    margin-right: 6px;
}

.header_menu-text{
   .text(@m: 10px 0px 0px 0px, @c: @main-color);
    .line();
}   

.header_search{
    // float: left;
    // margin-left: 41px;
    display: inline-flex;
    justify-content: flex-start;
    margin-left: auto;
    // width: 60%;
    // width: 96px;
    // height: 29px;
}

.header_logo{
    // float: left;
    // margin: 0px 258px 0px 359px;
    display: flex;
    justify-content: center;
    margin-top: 5%;

    @media only screen and (min-width: 500px){
        display: inline-flex;
        margin: 0;
        width: 50%;
        justify-content: flex-end;
        float: right;
    }
}

.header_account{
    // float: left;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    // width: 131px;
    // height: 29px;
    // margin-right: 39px;
}

.header_bag{
    // float: right;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    // width: 96px;
    // height: 29px;
}

.product{
    padding: 80px 0px 40px 0px;

    @media @desktop{
    background: url('@{path}/STYLE.png') no-repeat right bottom;
    background-size: 35% auto;
    }
}

.product_photo{
    width: 100%;
    height: auto;
    margin: 0px auto;

    @media only screen and (min-width: 400px){
        width: 70%;
        margin: 0px auto;
    }

    @media @tablet{
        width: 50%;
        margin: 0px auto;
    }

    @media @desktop {
        float: left;
        margin: 0px 33px 0px 59px;  
        width: 40%;  
    }
}

.breadcrumbs{
    float: left;
    margin: 10px 0px 65px 0px;
}

.breadcrumbs_menu{
    padding: 0;
    margin: 0;
    display: block;

    & li{
        float: left;
        margin-right: 10px;
        display: block;
    }
    &_item{
        .text();
        .line(@c: @text-color);
    }
}

hr{
    border: 0;
    background-color: @text-color;
    width: 28px;
    height: 0.5px;
    float: left;
}

h1{
    .text(@m: 0px 0px 28px 0px,@fon-s: 54px, @c: @main-color, @fw: bold);
}

p{
    .text(@m: 0px 0px 42px 0px, @fon-s: @f-s-l, @lih: 1.5em);
}

.colours{
    float: left;
    width: 50%;
    margin: 0px 0px 30px 0px;
    
    h3{
        .text(@m: 0px 29px 0px 0px, @fon-s: 18px, @lih: 1.5em, @c: @main-color);
    }
}

.colours-range{
    padding: 0;
    margin: 0;
    display: block;

    & li{
        float: left;
        display: block;
        margin-right: 31px;
        
        &:last-child{
            margin-right: 0px;
        }
    }
}

.colours-range_icon{
    width: 22px;
    height: 22px;
    display: block;
    float: left;
    .line(@h: 2px);
}

.sizes{
    float: left;
    width: 282px;
    margin: 0px 0px 60px 0px;

    h3{
        .text(@m: 0px 50px 0px 0px, @fon-s: 18px, @lih: 1.5em, @c: @main-color);
    }
}

.sizes-range{
    padding: 0;
    margin: 0;
    display: block;

    & li{
        float: left;
        display: block;
        margin-right: 40px;
        
        &:last-child{
            margin-right: 0px;
        }
    }
}

.sizes-range_icon{
    .text(@m: 5px 0px 0px 0px, @fon-s: 18px, @fw: bold);
    .line(@h: 2px);
}

.price{
    .text(@m: 0px 0px 60px 0px, @fon-s: 36px, @c: #6D5F56);
    width: 50%;
}

.button{
    display: block;
    padding: 10px 0px;
    float: left;
    border: 1.5px solid @main-color;
    width: 303px;
    text-align: center;
    margin: 0px 0px 0px 120px;

    &_text{
        padding: 0;
        margin: 0;
        font-family: @fonf;
        font-size: 24px;
        font-weight: normal;
        line-height: 1.5em;
        letter-spacing: @l-s;
        color: @main-color;
        text-decoration: none;

        &:hover{
            font-weight: bold;
        }
    }
}

.rating{
    padding: 0px 0px 54px 0px;
}

.rating-block{
    margin: 0px auto;
    width: 305px;
}

.rating-block_icon{
    float: left;
    width: 139px;
    margin-right: 15px;
}

.rating-block_reviews_text{
    .text(@m: 4px 0px 0px 0px);
    .line(@c: @text-color);
}

footer{
    padding: 40px 0px 10px 0px;
    background-color: rgba(244, 238, 235, 0.61);
}

.card-offer{
    .text(@m: 7px 0px 0px 0px, @fon-s: @f-s-l, @c: @main-color, @lih: 1.5em);
}

.card-form{
    float: left;
    margin: 0px 22px 0px 32px;
}

input{
    width: 375px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.70);
    border: 0.15px solid;
    border-color: rgba(138, 121, 110, 0.5);
    padding-left: 10px;
}

input[type="email"]::-webkit-input-placeholder {
    color:rgba(0, 0, 0, 0.30);
    font-family:  @fonf;
} 
input[type="email"]::-moz-placeholder {
    color:rgba(0, 0, 0, 0.30);
    font-family:  @fonf;
}

.card-form-act{
    float: left;

    &_text{
        .text(@m: 15px 0px 0px 0px, @c:rgba(0, 0, 0, 0.38));
        .line(@c: @text-color);
    }
}

.credits{
    .text(@m: 60px 0px 0px 0px, @fon-s: 12px, @c: @text-color);
    float: right;
}